adf-resources/pipeline/test_pipeline3_runUrl.json
{
	"name": "test_pipeline3_runUrl",
	"properties": {
		"activities": [
			{
				"name": "execute_1_nb_activity",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/test-2-exec"
				},
				"linkedServiceName": {
					"referenceName": "AZ_Trn_DF_to_DB_linkService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "copy_run_url",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "execute_1_nb_activity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/test-2-runPageUrl",
					"baseParameters": {
						"run_url_is": {
							"value": "@{activity('execute_1_nb_activity').output}",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AZ_Trn_DF_to_DB_linkService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "execute_1_nb_activity",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 10
				}
			},
			{
				"name": "If Condition run output greater",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "copy_run_url",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('copy_run_url').output.runOutput.rowsInserted, 30)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "WaitFor_10Sec",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "If Condition run output greater",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 10
				}
			},
			{
				"name": "WaitFor_5sec",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "If Condition run output greater",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 5
				}
			}
		],
		"annotations": [
			"tast_1_pipe"
		],
		"lastPublishTime": "2021-05-01T21:38:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}